[Unit]
Description=The command to make the Keychron K2-k4 work with Function keys

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'echo 1 | tee /sys/module/hid_apple/parameters/fnmode'
ExecStop=/bin/sh -c 'echo 0 | tee /sys/module/hid_apple/parameters/fnmode'

[Install]
WantedBy=multi-user.target
